.custom-icon-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: rgb(52, 49, 49 , 0.5);
  color: #e1ece5; 
  border-radius: 9999px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 50;
  transition: all 0.3s ease;
   font-size: 12px;
}

.custom-icon-arrow:hover {
  background-color: rgba(134, 130, 130, 0.5);
  color: white;
  
  
}


.custom-icon-arrow.left-3 {
  left: 12px;
}

.custom-icon-arrow.right-3 {
  right: 12px;
}
